@model ToDoList.DTOs.TaskDto
@{
    ViewData["Title"] = "Edit Task";
}
<h3 class="card-header text-danger">@Html.ActionLink("DELETE", "Delete", new { id = Model.Id, @class = "btn-primary btn-sm text-danger" }, null)</h3>
@using (Html.BeginForm("Save", "Tasks"))
{
    <div class="form-group">
        @Html.LabelFor(t => t.Title, new { @class = "text-white-50" })
        @Html.TextBoxFor(t => t.Title, new { @class = "form-control", placeholder = "Enter the name of your task" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Details.Details, new { @class = "text-white-50" })
        @Html.TextAreaFor(t => t.Details.Details, new { @class = "form-control", rows = "5", cols = "50", placeholder = "Describe your task" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Qualifiers.Qualifiers, new { @class = "text-white-50" })
        @Html.TextAreaFor(t => t.Qualifiers.Qualifiers, new { @class = "form-control", rows = "1", cols = "20", placeholder = "Define the Qualifers for this Task" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.Outcomes.Outcomes, new { @class = "text-white-50" })
        @Html.TextAreaFor(t => t.Outcomes.Outcomes, new { @class = "form-control", rows = "1", cols = "20", placeholder = "Define an Outcome of this Task" })
    </div>
    <div class="form-group">
        @Html.LabelFor(t => t.EndDate, new { @class = "text-white-50" })
        @Html.TextBoxFor(t => t.EndDate, new { @type = "date", @class = "form-control datepicker", @Value = Model.EndDate.ToShortDateString(), })
        <p class="text-muted ">Orignal Deadline: @Model.EndDate.ToShortDateString() </p>
    </div>
    <div class="form-group">
        <p class="text-white-50">Mark As Completed? @Html.CheckBoxFor(t => t.Completed, new { @class = "form-conmtrol check-box" })</p>
    </div>
    @Html.HiddenFor(t => t.Id)
    @Html.HiddenFor(t => t.UserId)
    @Html.HiddenFor(t => t.CreatedDate)
    <button type="submit" class="btn btn-primary btn-block">Save</button>
}
