@model IEnumerable<ToDoList.DTOs.TaskDto>
@{
    ViewData["Title"] = "Doing";
}

<section class="basic-grid">
    @foreach (var task in Model)
    {

        <div class="card">
            <div class="bs-component">
                <div class="card mb-3">
                    <h3 class="card-header">Task</h3>
                    <div class="card-footer text-muted">
                        Created On @task.CreatedDate.ToShortDateString()
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@task.Title</h5>
                        <h6 class="card-subtitle text-muted">Some extra shit</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@task.Details.Details</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p class="font-italic">Qualifers</p> <p class="font-weight-bold">@task.Qualifiers.Qualifiers</p></li>
                        <li class="list-group-item"><p class="font-italic">Outcomes</p> <p class="font-weight-bold">@task.Outcomes.Outcomes</p></li>
                    </ul>
                    <div class="card-body">
                        @Html.ActionLink("Edit", "Edit", new { id = task.Id, @class = "btn-primary btn-sm" }, null)
                    </div>
                    <div class="card-footer text-muted">
                        Deadline @task.EndDate.ToShortDateString()
                    </div>
                </div>
            </div>
        </div>

    }
</section>
















